body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
  overflow-x: hidden;
 
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
  text-align: center;
  font-size: 30px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transition: .3s;
  padding: 10px 100px;

}

nav i {
  text-align: center;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  
  
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-align: center;
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin-left: 50px;
  line-height: 50px;
  padding: 12px 30px;
  transition: .3s;
}





nav a:hover {
  background: rgba(0,0,0,.2);
  transition: .3s;
}

.pimg1, .pmg2, .pmg3{
  position: relative;
  opacity: .70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.pimg1{
  background-image: url('img/pexels-photo-87.jpeg');
  min-height: 600px;
}
 
.pimg2{
  background-image: url('img/pexels-photo-841286.jpeg');
  min-height: 400px;
  background-position: center;
  background-size: cover;
  
}

.pimg3{
  background-image: url('img/pexels-photo.jpg');
  min-height: 400px;
  background-size: cover;
 
}


.section{
  text-align: center;
  padding: 50px 80px;
  
}

.section-light{
  background-color: #f4f4f4;
  color: #666;
  height: 1;
  
}


.section-dark{
  background-color: #282e34;
  color: #ddd;
}

.section-dark-two{
  background-color: #282e34;
  color: #ddd;
  
  
  
  
}



.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
    
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px; 
}

.ptext .border.trans {
  background-color: transparent;
}

@media(max-width:568px){
  background-attachment:scroll;
}


#media ul {
 width: 100%;
 display:flex;
 position: relative;
 padding: 0% 15%;
 margin: 15px 0px;


  
}

#media ul li {
  list-style: none;
}

#media ul li a{
  width: 50px;
  height: 55%;
  background: #f4f4f4;
  text-align:center; 
  line-height: 60px;
  font-size: 29px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 4px solid #fff;
 
    
}





#media li a .fa {
  position: relative;
  color: #fff;
  transition: .3s;
}

#media li a:hover .fa {
  transform: rotate(360deg);
  
}

/*#media li a:before {
  content: ;
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #266891;
  transition: .5s;
  
  
}*/

#contactSection {
  text-align: center;
  margin: 0;
  padding: 15px;
  
}

input {
  width: 50%;
  margin: 20px 0;
  background: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid #172f91;
  letter-spacing: 2px;

}

#msg {
  margin-top: 60px;
}

::-webkit-input-placeholder {
  color: #EAEAEA;
  font-size: 12px;
}

button {
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-bottom: 30px;
  color: #fff;
}

footer {
  text-align: center;
  background: #171d23;
  color: white;
}


/*@media screen and (max-width: 700px){
  #media (
  
  )
}*/

/*sekcja Contak*/

.contact {
  padding: 50px 0 80px;
  text-align: center;
  background: #F4F4F4;
}

.contact p {
  padding-bottom: 80px;
  color: #737373;

}

.contact h2 {
  color: #4c4c4c;
  margin: 20px 0 20px;
}
.contact .input-group {
  margin-bottom: 25;

}

.contact .form-control {
  border-radius: 0 !important;
}

.contact span {
  border-radius: 0 !important;
}

.contact .btn {
  border-radius: 0;
  width: 20%;
  font-size: 15px;
  background-color: #f08080;
  color: #fff;
}

.contact .btn:hover {
  background-color: #a85959;
  color: #fff !important;
}

/* footer*/

.footer {
  padding: 30px;
  color: #cccccc;
  background-color: #282E34;
}

.data {
  position: absolute;
  transform: translateY(-20px)

}

.about {
  transform: translateX(-100px);
  transform: translateX(-60px);

}

.media {
  position: relative;
  margin-right: -800px;
  transform: translateY(60px);
  transform: translateX(-60px);
}

.footer .social {
  font-size: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-right: 5px;

}

.footer input {
  height: 40px;
  width: 160px;
  padding: 5px;
  border: none;
  background-color: #ccc;
  color: #000;

}

.footer .btn {
  padding: 10px 5px 10px;
  margin: -3px 0 0 5px;
}




