
.btn:hover {
    background: #ededeede;
    color: #3c3c3c;
    border: 1px solid #fff;
}

.navbar {
    background: #222222;
    text-transform: uppercase;
    font-family: Arial sans-serif;
    font-weight: 700;
    font-size: 20px;
    
}

.navbar a {
    color: #fff !important;
    opacity: 0.7;

}

.navbar a:hover {
    opacity: 1;
    /*background: #111;*/
}



.header {
    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
    background: url(/img/pexels-photo-326514.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.header img {
    height: 350px;
    width: 450px;
    margin: 60px 0 -5px 40px;
}

.card-header h1 {
    margin-top: 170px;
    
}

.header h1, 
.header p, 
.header button {
    margin-top: 20px;
}

.header .btn {
    border-radius: 0;
    margin: 40px 20px;
}


/* SERVICES*/
.services {
    padding: 50px 0 80px;
    text-align: center;
}

.services h2{
    font-size: 2.8rem;
    font-weight: bold;
}

.services h4{
    font-weight: bold;
}

.services h2,
.services h4 {
    color: #4c4c4c;
    margin: 20px 0 20px;
}

.services p {
    color: #737373;
    font-size: 1rem;
    padding-bottom: 40px;
    font-weight: 600;
     
}

.services i {
    height: 60px;
    width: 60px;
    font-size: 22px;
    padding: 20px 20px;
    border-radius: 50%;
    background-color: #6699cc;
    color: #fff;
}

/*PRICING*/
.pricing {
    padding: 50px 0 80px;
    text-align: center;
    background: #3399ff;
}

.pricing h2 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.pricing h2 {
    font-size: 2.8rem;
}

.pricing p {
    font-size: 1rem;
    font-weight: 600;
}

.pricing h2,
.pricing p {
    color: #fff;
    
}

.pricing p {
    padding-bottom: 40px;
}

.pricing .packages {
    padding: 30px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    margin-top: 30px;
}

.packages li {
    display: block;
    padding: 5px;
}

.packages h4,
.packages h1,
.packages b {
    color: #4c4c4c;
}

.packages p,
.packages li {
    color: #737373;
}

.packages button {
    margin-top: 10px ;
}


.team {
    padding: 50px 0 80px;
    text-align: center;
    
}

.team li {
    text-decoration: none;
}

.team h2 {
    font-size: 2.8rem;
    font-weight: bold;
}

.team p {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 40px;
    letter-spacing: 0.3px;
}

/*.team h2,
.team p {
    padding-bottom: 40px;
}*/

.team b,
.team h2,
.team h4 {
    margin: 20px 0 20px;
    color: #4c4c4c;
    text-align: center;
}

.team p {
    color: #737373;
    position: center;
}

team img {
    height: 150px;
    width: 150px;
    margin-top: 80px;
    
}

.team i {
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background: #a0db8e;
    color:#fff;
}

/*CLIENTS*/
/*.col-lg-12 h2, .col-md-12 h2,
.col-lg-12 p, .col-md-12 p,
{
    text-align: center;
    padding-bottom: 60px;
}*/

.clients {
    padding: 50px 0 80px;
    background-color: #3399ff;
    text-align: center;
    /*color: #fff;*/
    text-decoration: none;
}

.clients h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}

.clients p {
    color: #fff;
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 0.3px;
    font-size: 1rem;
    font-weight: 600;
}

.clients img {
    width: 200px;
    cursor: pointer;
    margin: 40px 0;
    transition: all 500ms ease-in-out;
    
}

.clients li:hover {
    opacity: 1;
}

/*Contact*/

.contact {
    padding: 50px 0 80px;
    text-align: center;
}

.contact p{
    font-size: 1rem;
    padding-bottom: 60px;
    color: #737373;
    font-weight: 600;
}

.contact h2 {
    color: #4c4c4c;
    margin: 20px 0 20px;
    font-weight: bold;
}

.contact .input-group {
    margin-bottom: 25px;
}

.contact .form-control {
border-radius: 0 !important;
}

textarea {
    line-height: 30px;
}

i {
    padding-right: 10px;
    padding-top: 15px;
}

.contact span {
    border-radius: 0 !important;
}

.contact .btn {
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    background: #f08080;
    color: #fff;
}

.contact .btn:hover {
    background: #a85959;
    color: #fff !important;
}


/*FOOTER*/

.footer {
    padding: 30px;
    color: #cccccc;
    background: #121e2c;

}

.footer  .social {
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    color: rgb(204, 199, 199);
    margin-bottom: 10px;
    margin-right: 5px;
}

.footer  .social:hover {
    color: #fff;
}

.footer input {
    height: 40px;
    width: 160px;
    border: none;
    background: #cccccc;
    color: #000;
}

.footer btn {
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
    
}

.sign {
text-align: center;
margin: 5px 0 0 5px ;
}




@media(max-width:768px) {
    .header {
        padding: 30px;
        height: 750px;
    }
    .header img {
        width: 90%;
        height: 300px;
        margin: 20px 0 0 20px;
    }
    .header .btn {
        font-size: 10px;
        margin-left: 20px;    
    }
    .header h1 {
        font-size: 20px;
    }
    .header p {
        font-size:10px ;
    }
    .packages {
        width: 80%;
        margin-left: 25px;
    }
}

