body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
  overflow-x: hidden;
 
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
  text-align: center;
  font-size: 30px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transition: .3s;
  padding: 10px 100px;

}

nav i {
  text-align: center;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  
  
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-align: center;
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin-left: 50px;
  line-height: 50px;
  padding: 12px 30px;
  transition: .3s;
}





nav a:hover {
  background: rgba(0,0,0,.2);
  transition: .3s;
}

.pimg1, .pmg2, .pmg3{
  position: relative;
  opacity: .70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.pimg1{
  background-image: url('img/pexels-photo-87.jpeg');
  min-height: 600px;
}
 
.pimg2{
  background-image: url('img/pexels-photo-841286.jpeg');
  min-height: 400px;
  background-position: center;
  background-size: cover;
  
}

.pimg3{
  background-image: url('img/pexels-photo.jpg');
  min-height: 400px;
  background-size: cover;
 
}


.section{
  text-align: center;
  padding: 50px 80px;
  
}

.section-light{
  background-color: #f4f4f4;
  color: #666;
}


.section-dark{
  background-color: #282e34;
  color: #ddd;
}

.section-dark-two{
  background-color: #282e34;
  color: #ddd;
  height: 70px;
  
}



.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
    
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px; 
}

.ptext .border.trans {
  background-color: transparent;
}

@media(max-width:568px){
  background-attachment:scroll;
}


#media ul {
 width: 100%;
 display:flex;
 position: absolute;
 padding: 0% 15%;
  margin: auto;

  
}

#media ul li {
  list-style: none;
}

#media ul li a{
  width: 150px;
  height: 100%;
  background: #f4f4f4;
  text-align: center; 
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: inline;
  display: block;
  
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
 
    
}

#media li a .fa {
  position: relative;
  color: #fff;
  transition: .3s;
}

#media li a:hover .fa {
  transform: rotate(360deg);
  
}

/*#media li a:before {
  content: ;
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #266891;
  transition: .5s;
  
  
}*/

#info ul {
  display: block;
}

#info ul li a {
   color: #666;
  text-decoration: none;
  
  
}

footer {
  text-align: center;
  background: #171d23;
  6;
  color: white
}


/*@media screen and (max-width: 700px){
  #media (
  
  )
}*/





