/* {
    box-sizing: border-box;
}*/
body {
    background: #cddad3ce;
    font-family: 'Shrikhand', cursive;
    
   
}

h1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 80px;
    margin-bottom: 0px;
  }
  
  p {
    text-align: center;
    font-size: 30px;
    font-style: italic;
  }

  img {
   
      position: fixed; 
      top:0;
      left:0;
      width:100%; 
      height:100%;
      opacity: 0.3;
  }

.todo-cnt {
    max-width:60rem;
    margin:0 auto;
}
.todo-form {
    font-family:sans-serif;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding:1rem;
    background: #fff;
    position: sticky;
}
.todo-form-row {
    overflow:hidden;
}
.todo-form-label {
    display: block;
    font-size:25px;
    margin-bottom:1.2rem;
    text-align: center;
}
.todo-form-message {
    padding:1rem;
    /*height:10rem;*/
    width:96%;
    border:1px solid #ddd;
    margin-bottom: 0.5rem;
    resize: vertical;
    font-family:sans-serif;
}
.todo-form-button {
    padding:0.8rem 1.6rem;
    background: #1579ED;
    color:#fff;
    border:0;
    border-radius: 0.188rem;
    transition:0.4s all;
    cursor: pointer;
    float: right;
    font-size: 15px;
}
.todo-form-button:hover {
    background: #4695F5;
}


.todo-list-cnt {
    background: #fff;
    font-family:sans-serif;
    margin:1rem 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding:1rem 2rem;
    position: sticky;
}
.todo-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo-list-search-form {
    width:50%;
}
.todo-list-search {
    border:1px solid #ddd;
    padding:0.5rem;
    width: 100%;
}
.todo-list-title {
    margin-top:0;
    margin-bottom:0;
    font-size: 20px;
    text-transform: uppercase;
}


.todo-element {
    border-top:1px solid #ddd;
    margin-top:1rem;
    padding-top:2rem;
    padding-bottom: 2rem;
}
.todo-element-bar {
    overflow:hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:0.7rem;
    font-weight: bold;
    color: rgb(68, 59, 59);
}
.todo-element-date {
    margin:0;
}
.todo-element-date {
    font-size:0.9rem;
    font-weight: normal;
}
.todo-element-delete {
    color:#F15C5C;
    border:0;
    font-size:1.4rem;
    background: none;
    cursor: pointer;
    padding:0;
    transition:0.4s all;
}
.todo-element-delete svg {
    pointer-events: none;
}
.todo-element-delete:hover {
    color: #ED2D2D;
}
.todo-element-text {
    color:rgb(121, 112, 112);
    font-size:1rem;
}

footer {
    position: sticky;
    margin-bottom: 2px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    padding-top: 330px;

}